<div class="tooltip add">
  <i style="margin-left: 16px; margin-top: 25px; margin-bottom: 25px;" class="fas fa-question-circle"></i></br>
<span class="tooltiptext meta top_addons">{{section.settings.addons}} </span>
  </div>
{% schema %}
  {
    "name": "addons add",
    "settings": [
    {
        "id":"addons",
        "label":"Add Addons",
        "type":"richtext"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
