<div style="clear: both;
    height: 105px;">
	<div class="div">
      <a class="button" href="{{ section.settings.purchase_url }}">Purchase / Get Prices</a>
   </div>
</div>

<div class="faqtop"><h1 class="hero__title">MIXING FAQ</h1></div>
  <div id="faqsection">
  <div class="faqwidth">
    <div class="accordion">
      <span class="faqset"><i class="fa fa-plus"></i>How Do I Prepare My Mix?</span>
      </br>
      <span style="height: 1px;float: left;background: #efe5e5;width: 100%;left: 0px;position: absolute;left: 0;margin-top: 8px"> </span>
      <div class="panel">
        <p class="text-light">You can either send us your Pro tools, Studio One or Logic session.
If you don’t use any of those three daw’s then you will need to export each track as a WAV file from the beginning of the session so that when everything is dropped into our DAW it all lines up correctly.</p>
      </div>
    </div>

     <div class="accordion">
      <span class="faqset"><i class="fa fa-plus"></i>Do I remove plugins off of my master bus before exporting wav’s?</span>
       </br>
        <span style="height: 1px;float: left;background: #efe5e5;width: 100%;left: 0px;position: absolute;left: 0;margin-top: 8px"> </span>
      <div class="panel">
        <p class="text-light">Yes.
Compressors, EQs, Delays, and Reverbs can have an impact on the overall sound of the song. When you put all these elements together they need to fit correctly.

If you have requested to leave a processed track from your demo in the mix, that is okay because it is still focused on one track that we can place and enhance as necessary.

When you put these effects on your master bus, this is a global effect that will process every track in the project which can keep us from bringing out the overall sound that we need to for your project to be done correctly.

</p>
      </div>
    </div>
<div class="accordion">
        <span class="faqset"><i class="fa fa-plus"></i>Which DAW do you use?</span>
        </br>
         <span style="height: 1px;float: left;background: #efe5e5;width: 100%;left: 0px;position: absolute;left: 0;margin-top: 8px"> </span>
      <div class="panel">
        <p class="text-light">Currently we use 3 DAW’s.
          1. Pro Tools
          2. Studio One
          3. Logic Pro X

          This means that if you use one of these DAW’s, you can send your session to us without having to export everything into WAV form.

          However, most of the time we do prefer that you export your tracks anyway so there are no plugin discrepancies.</p>
      </div>
    </div>
<div class="accordion">
        <span class="faqset"><i class="fa fa-plus"></i>What WAV file settings do I send you?</span>
        </br>
         <span style="height: 1px;float: left;background: #efe5e5;width: 100%;left: 0px;position: absolute;left: 0;margin-top: 8px"> </span>
      <div class="panel">
        <p class="text-light">A 4-Stem Pack is a 4 track collection of the most important elements in your completed mix.
(Unmastered)
1. All Bass (as one file)
2. All Drums (as one file)
3. All Vocals (as one file)
4. All Instruments (as one file)

These 4 stems are printed with all the plugins/fx used in your mix so when you open up your 4-Stem Pack in your DAW, you can hear the exact mix we hear in our DAW. You can then use these files to modify your mix.

</p>
      </div>
    </div>
  </div>
  <div class="faqwidth">
     <div class="accordion">
      <span class="faqset"><i class="fa fa-plus"></i>Can I have a copy of the session?</span>
       </br>
        <span style="height: 1px;float: left;background: #efe5e5;width: 100%;left: 0px;position: absolute;left: 0;margin-top: 8px"> </span>
      <div class="panel">
        <p class="text-light">because we use a variety of different plugins and outboard units, this is not possible. Instead, we can “Stem” all of your individual tracks.
What’s a Stem?

As stem is basically a “printed” version of, let’s say, the kick. The plugins and processes we used on that kick are “printed” to the track. That way when you open the stem in your software, you’ll hear the exact kick used in the mix without needing the plugins. This process is repeated for each sound (track) in your song.</p>
        
      </div>
    </div>
      <div class="accordion">
        <b><i class="fa fa-plus"></i>Are there discounts for multiple songs?</span>
        </br>
         <span style="height: 1px;float: left;background: #efe5e5;width: 100%;left: 0px;position: absolute;left: 0;margin-top: 8px"> </span>
      <div class="panel">
        <p class="text-light">Yes.
As you fill out our purchase form you will notice there is an active discount when selecting multiple songs. The discount percentage is determined by how many songs are added.</p>
      </div>
    </div>
<div class="accordion">
        <span class="faqset"><i class="fa fa-plus"></i>How many revisions do I get?</span>
        </br>
         <span style="height: 1px;float: left;background: #efe5e5;width: 100%;left: 0px;position: absolute;left: 0;margin-top: 8px"> </span>
      <div class="panel">
        <p class="text-light">We will work on your song until you are satisfied with it. Our main tool for completing your song effectively and efficiently will be our live stream sessions.
We will work over live stream for as long as it takes to get your song finished.</p>
      </div>
    </div>
<div class="accordion">
        <span class="faqset"><i class="fa fa-plus"></i>Can I reduce my songs track count?</span>
        </br>
         <span style="height: 1px;float: left;background: #efe5e5;width: 100%;left: 0px;position: absolute;left: 0;margin-top: 8px"> </span>
      <div class="panel">
        <p class="text-light">Yes.
There are a few things you can do to decrease the amount of tracks you are turning in for your project.

Comp background vocals: If you have four tracks that sing a backing harmony together, you can comp these to one track if you have the exact sound you want out of them. Just know that we will not be able to tune grouped vocals like that or manipulate them as much as we can most. Only comp backing vocals together like that if you are sure you want them to sound just like that, we will not be able to adjust three vocals relative to each other if you comp them.

NEVER comp a lead vocal with your backing vocals.

Comp SFX and Occasional Sounds: If you have 7 tracks that have random sounds or audio compliments, you can comp them together as tight as you can so long as they do not overlap. If you have 20 tracks with sounds but none of them overlap, comp them to one track and save yourself money when buying your mix.</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Purchase Section",
    "settings": [{
		"type": "url",
		"label": "link",
		"id": "purchase_url"
	}]
  }
{% endschema %}

{% stylesheet %}
#faqsection{
  width: 100%; 
  display: flex;
}
.faqwidth{
	width: 50%
}
.faqset{
	font-size: 17px;
    font-weight: 400;
}
div.panel {
    display: none;
}
@media screen and (max-width: 768px) {
#faqsection{
  width: 100%; 
  display: block;
}
.faqwidth{
	width: 100%
}
}
<!-- div.panel.show {
    display: block !important;
} -->

.accordion{
    border: 1px solid #efe5e5;
    margin: 18px;
    position: relative;
    padding: 8px;

}
.accordion.active div.panel{
    display: block;
	padding-top: 12px;
}

.fa{
	padding-right:10px;
}
.btn-col{
	width:50%;
}
.collapsible {
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #000;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #000;
}

.faqtop{
	text-align:center;
	padding-top:30px;
}

 .div {
    background-color: #d2a356;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    width: 100%;
    position: absolute;
    left: 0;
    }
    .button {
      padding: 13px;
      outline: none;
      background-color: rgb(216, 133, 31);
      color: white;
      padding: 13px;
      border: none;
      cursor: pointer;
    }

h1 {
    text-transform: uppercase;
}
{% endstylesheet %}

{% javascript %}
var coll = document.getElementsByClassName("collapsible");
var i;                           
var acc = document.getElementsByClassName("accordion");
var panel = document.getElementsByClassName('panel');



                                   
 $(document).ready(function(){
    $(".accordion").click(function(){
		$(this).toggleClass('active');
    });
  });                                
                                   
                                   
                       
                            
                            
                            
{% endjavascript %}
