{% include 'aaa_mem_helper' with 'page' %}
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>
    <div class="menu-container">
        <ul class="clearfix">                                     
            <li class="list-item">
                <a href="https://royalplayrecords.com/pages/services" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop">
                          <img class="transition-icon" alt="Music Production" src="https://studiopros.com/images/icon-service-musicprod-h.png">
                        <img alt="Music Production" src="https://studiopros.com/images/icon-service-musicprod.png" class="icon-service-main">                        
                        </span>
                    </div>
                    <div class="services-drop-info">
                        <strong>Music Production</strong>
                        <p> Produce your song from start to finish.                                                    
                        </p>
                    </div>
                </a>
            </li>                                     
            <li class="list-item">
                <a href="https://royalplayrecords.com/products/mixing-and-mastering" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop">
                      <img class="transition-icon" alt="Mixing &amp; Mastering" src="https://studiopros.com/images/icon-service-mixing-h.png">    
                        <img alt="Mixing &amp; Mastering" src="https://studiopros.com/images/icon-service-mixing.png" class="icon-service-main">                        
                        </span>
                    </div>
                    <div class="services-drop-info">
                        <strong>Mixing &amp; Mastering</strong>
                        <p> Mixing, Mastering, Audio Editing, Vocal Tuning                                                    
                        </p>
                    </div>
                </a>
            </li>                                     
            <li class="list-item right">
                <a href="#" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop">
                          <img class="transition-icon" alt="Drums &amp; Percussion" src="https://studiopros.com/images/icon-service-drum-h.png">   
                        <img alt="Drums &amp; Percussion" src="https://studiopros.com/images/icon-service-drum.png" class="icon-service-main">                        
                        </span>
                    </div>
                    <div class="services-drop-info">
                        <strong>Custom Beats</strong>
                        <p> Live Drums, Programming, Percussion                                                    
                        </p>
                    </div>
                </a>
            </li>                                     
            <li class="list-item">
                <a href="https://royalplayrecords.com/pages/coming-soon" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop">
                          <img class="transition-icon" alt="Bass, Guitars &amp; Keys" src="https://studiopros.com/images/icon-service-guitar-h.png">   
                        <img alt="Bass, Guitars &amp; Keys" src="https://studiopros.com/images/icon-service-guitar.png" class="icon-service-main">                        
                        </span>
                    </div>
                    <div class="services-drop-info bass">
                        <strong>Bass, Guitars &amp; Keys</strong>
                        <p> Bass, Guitars, Keyboards, Dobro,<br> Pedal Steel, Lap Steel, Mandolin, Banjo                                                    
                        </p>
                    </div>
                </a>
            </li>                                     
            <li class="list-item">
                <a href="https://royalplayrecords.com/pages/coming-soon" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop">
                          <img class="transition-icon vocals" alt="Vocalists" src="https://studiopros.com/images/icon-service-vocalists-h.png">
                        <img alt="Vocalists" src="https://studiopros.com/images/icon-service-vocalists.png" class="icon-service-main vocals">                        
                        </span>
                    </div>
                    <div class="services-drop-info vocals">
                        <strong>Vocalists</strong>
                        <p> Male Vocalists, Female Vocalists                                                    
                        </p>
                    </div>
                </a>
            </li>                                     
            <li class="list-item right">
                <a href="https://royalplayrecords.com/pages/coming-soon" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop">
                          <img class="transition-icon guy" alt="Live Strings &amp; Horns" src="https://studiopros.com/images/icon-service-stings-h.png">
                        <img alt="Live Strings &amp; Horns" src="https://studiopros.com/images/icon-service-stings.png" class="icon-service-main guy">                        
                        </span>
                    </div>
                    <div class="services-drop-info guy">
                        <strong>Live Strings &amp; Horns</strong>
                        <p> String Section, Horn Section, Flutes, Clarinet, Upright Bass, Fiddle                                                    
                        </p>
                    </div>
                </a>
            </li>                                     
            <li class="list-item bottom">
                <a href="https://royalplayrecords.com/pages/coming-soon" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop video">
                          <img class="transition-icon" alt="Video Editing Services" src="https://studiopros.com/images/icon-service-video-h.png">
                        <img alt="Video Editing Services" src="https://studiopros.com/images/icon-service-video.png" class="icon-service-main">                        
                        </span>
                    </div>
                    <div class="services-drop-info video">
                        <strong>Video Editing Services</strong>
                        <p> Custom Edit, After Effects, Fixed Frame Video                                                    
                        </p>
                    </div>
                </a>
            </li>                                     
            <li class="list-item bottom">
                <a href="https://royalplayrecords.com/pages/coming-soon" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop">
                          <img class="transition-icon" alt="Songwriter Services" src="https://studiopros.com/images/icon-service-songwriter-h.png">
                        <img alt="Songwriter Services" src="https://studiopros.com/images/icon-service-songwriter.png" class="icon-service-main">                        
                        </span>
                    </div>
                    <div class="services-drop-info">
                        <strong>Songwriter Services</strong>
                        <p> Music Charts, Lyric Editing, Lyric Translation                                                    
                        </p>
                    </div>
                </a>
            </li>                                     
            <li class="list-item bottom right">
                <a href="https://royalplayrecords.com/pages/coming-soon" class="inner-services-container">
                    <div class="services-drop-img">
                        <span class="icon-service-drop">
                          <img class="transition-icon gift" alt="StudioPros Gift Card" src="https://studiopros.com/images/icon-service-gifts-h.png">   
                        <img alt="StudioPros Gift Card" src="https://studiopros.com/images/icon-service-gifts.png" class="icon-service-main gift">                        
                        </span>
                    </div>
                    <div class="services-drop-info gift">
                        <strong>RPR Gift Card</strong>
                        <p> Send a gift to a friend, or add credit to your own account.                                                    
                        </p>
                    </div>
                </a>
            </li>                                  
    </ul>                       
    </div>
  </div>
</div>
